[Unit]
Description=SearXNG container
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker network create app-net
ExecStartPre=-/usr/bin/docker stop -t 10 searxng
ExecStartPre=-/usr/bin/docker rm searxng

ExecStart=/usr/bin/docker run -d --name searxng --restart always \
  --network app-net \
  -v /opt/searxng/config:/etc/searxng \
  -e "BASE_URL=http://searxng:8080/" \
  -e "INSTANCE_NAME=my-searxng" \
  searxng/searxng
ExecStop=/usr/bin/docker stop -t 10 searxng

[Install]
WantedBy=multi-user.target